/* У CSS классов нет модульной замкнутости они глобальны!!! К примеру если у кого то будет класс item он применится ко всем элементам.
module.css помогает добиться инкапсуляции стилей. Module.css обеспечивает модульности стилей, классы называть без дефиса и нижнего подчеркивания только Кемлкейс...
Импортирием обьект, используем как ключ значение, где значение хешуруется всегда уникальное*/
.app-wrapper {
    margin: 0 auto;
    display: grid;
    width: 1900px;
    grid-template-areas:
  "h h"
  "n c";

    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    /* grid-gap: 10px; */
}
